*{
    box-sizing: border-box;
}


body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-image: url('../img/BG\ 1\ 1.png');
    position: relative;
    background-size: cover;
    color: white;
}

a{
    text-decoration: none;
}

.container::before{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('../img/basketball\ court\ 1.png');
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: .2;
}

.container::after{
    content: '';
    position: absolute;
    background-image: url('../img/erRectangle.png');
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: .65;
}

.container{
    max-width: 1920px;
    margin: auto;
    background-image: url('../img/Ellipse\ 1.png');
    background-repeat: no-repeat;
    background-position: top top;
    z-index: 9999;
}

.header{
    max-width: 1200px;
    margin: auto;
    padding: 30px 0px;
}

.logo{
    max-width: 215px;
}

.hero{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-left{
    flex-basis: 50%;
}

.hero-header{
    font-size: 30px;
    text-transform: uppercase;
    line-height: 40px;
}

.hero-text{
    font-size: 18px;
    font-style: normal;
}

.hero-right{
    flex-basis: 50%;
}

.btn-block{
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-top: 50px;
}

.block-1{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #00B800 0%, #A9CC66 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 15px 25px rgba(0, 0, 0, 0.55), 55px 10px 100px rgba(13, 186, 8, 0.55);
    border-radius: 15px;
    position: relative;
    margin: 100px auto;
    flex-wrap: wrap;
}

.block-1-left{
    flex-basis: 40%;
    position: relative;
}

.img-1{
    position: absolute;
    top: -128px;
    left: -55px;
    transform: scale(1.2);
    filter: invert(100%);
}

.img-2{
    position: absolute;
    max-width: 200px;
    max-height: 150px;
    right: 10%;
    bottom: 10%;
}

.img-3{
    position: absolute;
    top: -50px;
    left: -40px;
}

.block-1-right{
    flex-basis: 55%;
    padding: 70px 0px;
    padding-right: 50px;
}

.block-1-right section{
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.block-2{
    max-width: 1000px;
    background: linear-gradient(180deg, #5762E3 0%, #A0A4F2 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 15px 25px rgba(0, 0, 0, 0.55), 55px 10px 100px rgba(94, 105, 229, 0.55);
    border-radius: 15px;
    padding: 70px 0px;
    position: relative;
    margin: 100px auto;
    overflow: hidden;
}

.block-2-heaer{
    text-align: center;
}

.header-text{
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-top: unset;
    line-height: 48px;
}

.block-2-block{
    padding-left: 50px;
    margin-top: 50px;
}

.block-2-header-block{
    width: 100%;
    font-size: 22px;
}

.block-2-header-block img{
    max-width: 150px;
}

.block-2-content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.block-2-content-left{
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.block-2-content-left section{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.block-2-content-left-block{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.block-2-icon{
    position: relative;
}

.block-2-icon-1{
    width: 25px;
}

.block-2-icon-2{
    position: absolute;
    width: 15px;
    top: -8px;
    left: 9px;
    transform: rotate(8deg);
}

.block-2-content-right{
    flex-basis: 40%;
    position: relative;
}

.block-2-content-right img{
    position: absolute;
}

.block-2-content-right img:first-child{
    transform: scale(1.2);
    width: 100%;
    height: 350px;
    bottom: -100px;
    filter: invert(100%);
}

.block-2-content-right img:nth-child(2){
    transform: scaleY(.75);
    width: 100%;
    right: 0px;
    bottom: -120px;
}

.block-2-content-right img:nth-child(3){
    transform: scaleY(.4) scaleX(.5);
    width: 100%;
    right: -130px;
    bottom: -150px;
}

.block-3{
    max-width: 1000px;
    background: linear-gradient(319.59deg, #6974F5 7.02%, rgba(92, 112, 241, 0.980469) 21.02%, rgba(42, 72, 179, 0.95) 83.82%, rgba(68, 93, 211, 0.965883) 93.75%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 15px 25px rgba(0, 0, 0, 0.55), 55px 10px 100px rgba(71, 96, 220, 0.55);
    border-radius: 30px;
    padding: 70px 0px;
    position: relative;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.block-3-overlay-img{
    position: absolute;
    max-width: 46px;
    max-height: 169px;
    right: 150px;
}

.block-4{
    max-width: 1000px;
    background: linear-gradient(324.62deg, #5762E3 28.62%, #0080FF 96.97%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 15px 25px rgba(0, 0, 0, 0.55), 55px 10px 100px rgba(54, 120, 238, 0.55);
    border-radius: 30px;
    padding: 50px 20px;
    position: relative;
    margin: 100px auto;
}

.block-4-content{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    row-gap: 100px;
}

.block-4-block{
    flex-basis: 270px;
    text-align: center;
    position: relative;
    z-index: 9999;
}

.block-4-block::before{
    position: absolute;
    content: '';
    height: 92%;
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: 0px 4px 6px -2px rgba(24, 24, 24, 0.06), 0px 25px 50px -12px rgba(24, 24, 24, 0.35);
    border-radius: 15px;
    top: 50px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.block-4-upper{
    max-width: 230px;
    margin: auto;
}

.block-4-down{
    color: blue;
    padding: 0px 50px;
    margin-top: 20px;
    font-weight: bold;
}

.block-4-btn{
    width: 250px;
    height: 60.82px;

    background: linear-gradient(180deg, #F25D05 0%, #F27405 99.42%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 80px auto;
    margin-bottom: unset;
}

.footer-last{
    max-width: 1200px;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.footer-block a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;

    color: #C8C8C8;
}

.footer-block{
    display: flex;
    column-gap: 10px;
}

@media screen and (max-width: 1024px){
    .container{
        padding: 0px 50px;
    }
}

@media screen and (max-width: 768px){
    .container{
        padding: 0px 50px;
    }

    .hero{
        row-gap: 100px;
    }

    .hero-left{
        flex-basis: 100%;
    }

    .hero-right{
        flex-basis: 100%;
    }

    .block-1{
        row-gap: 0px;
    }

    .block-1-left{
        flex-basis: 100%;
        min-height: 300px;  
    }

    .img-1{
        top: -113px;
        left: -100px;
        height: 300px;
        overflow: hidden;
    }

    .img-3{
        max-width: 500px;
    }

    .img-2{
        right: 35%;
    }

    .block-1-right{
        flex-basis: 100%;
        padding: 0px 20px;
        padding-bottom: 50px;
    }

    .block-2-content-left{
        flex-basis: 100%;
    }

    .block-2-content-right{
        flex-basis: 100%;
        min-height: 450px;
    }

    .block-3-overlay-img{
        display: none;
    }
}

@media screen and (max-width: 540px){
    .img-1{
        transform: scale(1);
        top: -118px;
        left: -93px;
    }

    .img-2{
        right: 20%;
        bottom: 20%;
        max-width: 150px;
        max-height: 120px;
    }

    .header-text{
        padding-left: 20px;
        padding-right: 20px;
    }

    .block-2-block{
        padding: 0px 20px;
    }

    .block-2-content-left section{
        flex-basis: 100%;
    }

    .block-2-content-right{
        min-height: 350px;
    }

    .block-3{
        padding: 50px 20px;
    }

    .header-text{
        font-size: 25px;
        line-height: 35px;
    }

    .footer-last{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
}

@media screen and (max-width: 414px){

    .container{
        padding: 0px 20px;
    }

    .hero-left{
        flex-basis: 100%;
    }

    .hero-header{
        font-size: 20px;
        line-height: 35px;
    }

    .hero-text{
        font-size: 16px;
    }

    .hero-right{
        flex-basis: 100%;
    }

    .block-1-left{
        flex-basis: 100%;
        min-height: 250px;
    }

    .img-1{
        left: -80px;
    }

    .img-2{
        right:15%;
        bottom: 25%;
    }

    .block-1-right{
        flex-basis: 100%;
    }

    .block-1-right section{
        font-size: 16px;
    }

    .block-2-content{
        row-gap: 0px;
    }

    .block-2-content-right{
        min-height: 300px;
    }

    .block-2-content-left{
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .block-2-content-left section{
        flex-basis: 100%;
    }

    .block-2-content-right{
        flex-basis: 100%;
    }

    .header-text{
        font-size: 25px;
        margin-left: unset;
        padding-left: unset;
    }
}

@media screen and (max-width: 414px){
    .img-1{
        left: -78px;
    }

    .hero{
        row-gap: 50px;
    }
}

@media screen and (max-width: 375px){
    .img-1{
        left: -70px;
    }

    .img-3{
        margin-left: 10px;
    }

    .header-text{
        font-size: 22px;
    }
}

@media screen and (max-width: 360px){

    .container{
        padding: 0px 20px;
    }

    .hero-left{
        flex-basis: 100%;
    }

    .hero-header{
        font-size: 18px;
    }

    .hero-text{
        font-size: 14px;
        line-height: 25px;
    }

    .hero-right{
        flex-basis: 100%;
    }

    .block-1-left{
        flex-basis: 100%;
    }

    .img-1{
        left: -60px;
    }

    .img-2{
        right: 20%;
        max-width: 100px;
        max-height: 80px;
    }

    .block-1-right{
        flex-basis: 100%;
    }

    .block-2{
        padding-left: 20px;
        padding-right: 20px;
    }

    .block-2-block{
        padding: unset;
    }

    .block-2-content-left{
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .header-text{
        font-size: 18px;
        padding: unset;
    }

    .block-2-header-block{
        font-size: 18px;
    }

    .block-2-content-left section{
        flex-basis: 100%;
    }

    .block-2-content-right{
        flex-basis: 100%;
        min-height: 250px;
    }

    .block-2-content-right img:first-child{
        right: -10px;
    }

    .block-2-content-right img:nth-child(3){
        right: -100px;
    }

    .footer-block a{
        font-size: 12px;
    }
}


@media screen and (max-width: 280px){
    .hero-header{
        font-size: 15px;
    }

    .hero-text{
        font-size: 12px;
    }

    .img-1{
        left: -50px;
    }

    .img-3{
        margin-left: 20px;
    }

    .header-text{
        font-size: 16px;
    }

    .block-1-right section{
        font-size: 12px;
        line-height: 20px;
    }

    .block-4-down{
        padding: 10px;
    }

    .block-4-btn{
        width: 100%;
    }

    .footer-block{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}